/*
Version of 06.12.15
To see all former changes visit our git:
https://bitbucket.org/tanja424/praktikum-elearning.git
*/


body { 
	font-family: Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/1797596.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
	font-size: 12pt;
	display:inline;
	margin-left: 20px;
}

h2{
	font-size: 12pt;
	display:inline;
}

h3{
	font-size: 16pt;
	display:inline;
	margin-left: 20px;
}
