/*
Version of 06.12.15
To see all former changes visit our git:
https://bitbucket.org/tanja424/praktikum-elearning.git
*/


.paperTitleContainer{
	margin-top: 50px;
	margin-left: 70px;
    margin-bottom: 40px;
}

.wrapper {
    width: 900px;
    margin-left: 100px;
    overflow: auto;
    margin: 0 auto;
}

#pdfWrapper {
    background-color: white;
	background-color: hsla(0, 0%, 100%, 0.5);
    float: left;
    overflow: auto;
    width: 700px;
    height: 500px;
}

#containerImage {
    width: 700px;
}

.pdfText{
	width:100%;
}

.button {
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    margin-top: 5px;
    height: 16px;
    width: 16px;
}

#getTags {
    font-style: italic;
    font-size: 10pt;
}


.tagContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11pt;
}

#textBox{
    resize: none;
    width: 200px;
    height: 160px;
    margin-top: 4px;
}

#tagBox{
    resize: none;
    width: 200px;
    height: 50px;
    margin-top: 15px;
}

#commentBox{
    display: none;
}

#websitePreview{
    height: 100%;
}

#thankYou{
    display: none;
    margin-top: 20px;
}


#titleTagsRating{
    padding: 20px 20px 20px 20px;
    background-color: hsla(0, 0%, 100%, 0.5);
}

.commentContainer{
    margin-top: 25px;
}

.commentCounter{
    display: inline;
}

.scrollPart{
    overflow: auto;
    height: 160px;
}

#ratingContainer{
    margin-left: 752px;
    position: absolute;
    width: 243px;
}

.commentBox {
    margin-top: 2px;
    background-color: hsla(0, 0%, 100%, 0.5);
    padding: 15px 15px 15px 15px;
}

.commentUsername {
    font-weight: bolder;
    font-size: 10pt;
    margin-left: 9px;
}

.commentText {
    margin-top: 15px;
    font-size: 9pt;
}

#comments{
    list-style-type: none;
    margin:0;
    padding-left:0px;
}

.tags{
    font-style: italic;
    font-size: 9pt;
}

.tagTitle{
    font-weight: bold;
    font-size: 9pt;
}

.tagContainer{
    margin-top: 10px;
    margin-bottom: 5px;
}

#pdfTitle{
    color: white;
}

#OldCommentsTitle{
    font-size: 12pt;
    font-weight: bolder;
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
    padding-right: 149px;
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom:5px;
    margin-bottom: 0.5px;
}

#addTagImage{
    height: 16px;
    cursor: pointer;
    margin-left: 93%;
    margin-top: 10px;
}

#tagBoxContainer{
    display: none;
}

.likertContainer{
    margin-top: 2px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}