/*
Version of 06.12.15
To see all former changes visit our git:
https://bitbucket.org/tanja424/praktikum-elearning.git
*/

.star{
	height: 14px;
	width: 14px;
	margin-right: -2px;
	cursor: pointer;
}

.stars {
    height: 15px;
	width: 15px;
	margin-right: 1px;
}

#likert{
	display: inline;
}
