/*
Version of 06.12.15
To see all former changes visit our git:
https://bitbucket.org/tanja424/praktikum-elearning.git
*/



body {
    height: 100%;
}

a:link {
    color: black;    
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

a:hover {
    color: hsla(220, 100%, 50%, 0.5);
}

.resultContainer{
    width: 96%;
    margin: 100px 2% 2%;
}

.starEmpty {
    list-style-image: url(../images/star_empty.ico);
}

.starHalf {
    list-style-image: url(../images/star_half.ico);
}

.starFull {
    list-style-image: url(../images/star_full.ico);
}

.resultBox {
    background-color: hsla(0, 0%, 100%, 0.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: black 1px solid;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.resultCategoryIcon {  
    float: left;
    width: 55px;    
    bottom: 0;
    margin-top: 20px;
    margin-left: 10px;
}

.previewImage {
    float: left;
    width: 75px;
    bottom: 0;
    margin-top: 20px;
}

.resultTitle{
    font-size: large;
    font-weight: bold;
    text-shadow: 1px 1px 2px #696969;
    margin-left: 5px;
    padding-bottom: 5px;
}

.resultContent {
    margin-top: 10px;
    margin-left: 110px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: small;
}

.resultDescriptionContainer {
    bottom: 0;
    margin-top: 5px;
    margin-left: 110px;
    font-size: small;
}

.resultSubTitle {
    font-weight: bolder;
}

.resultText {
    font-style: italic;
    padding-bottom: 5px;
}

#results{
    list-style-type: none;
    margin:0;
    padding-left:5px;
}

.usernameResult{
    margin-bottom: -10px;
    font-size: 7pt;
    font-style: italic;
}