/*
Version of 06.12.15
To see all former changes visit our git:
https://bitbucket.org/tanja424/praktikum-elearning.git
*/




#searchBar{
	height: 72px;
	position: fixed;
	width: 100%;
	top: 0;
	padding-left: 25px;
	visibility: hidden;
}

.searchBarWrapper{
	width: 650px;
}

.keywordLabel{
	margin-left: 20px;
	margin-right: 10px;
	float:left;
}

#keywordInputBox{
	width: 600px;
	padding: 5px;
	padding-left: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#keywordButton{
	border: medium none;
	width: 28px;
	height: 27.35px;
	background: transparent url("../images/lupe.png") no-repeat scroll 0% 0% / 28px 28px;
	margin-left: -10px;
	cursor: pointer;
}

.dots{
    margin-bottom: -8px;
    margin-left: -55px;
    margin-right: 10px;
    width: 20px;
    cursor: pointer;
}

#filterTitle{
    color:black;
    font-weight: bold;
    font-size: 10pt;
}

.searchFilter{
    background-color: hsla(0, 0%, 100%, 0.9);
    position: absolute;
    padding: 15px;
    width: 571px;
    height: 80px;
    visibility: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#searchCircle{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-left: 30px;
	position: fixed;
	cursor: pointer;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#searchIcon{
	position: absolute;
	top: 2px;
}