/*
Version of 06.12.15
To see all former changes visit our git:
https://bitbucket.org/tanja424/praktikum-elearning.git
*/




.startPageTitle {
    position: absolute;
    background-color: silver;
    background-color: hsla(0, 0%, 100%, 0.5);
    top: 20%;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.searchBarStartPage{
     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 660px;
     height: 30px;
}

#submitButton{
    position: absolute;
    right: 30px;
}

#login_form{
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}

label{
    font-size: 10pt;
}